.novel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0px black solid;
    word-wrap: break-word;
}

.field{
    word-wrap: break-word;
    width: 15%;
}

.rating{
    word-wrap: break-word;
    width: 8%;
}

.title{
    margin-left: 5px;
    width: 15%;
    word-wrap: break-word;
}

.button{
    height: 25px;
    margin-right: 5px;
    min-width: 5%;
    white-space: nowrap;
    overflow: hidden;
}